$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "mediaBoxes.scss";
/* -------------------------------- 

Primary style

-------------------------------- */

body {
    background: #f9f7f7;
	overflow-x: hidden; 
    color: $simplot-gray; 
}
.row {
    margin: 0; 
}
.navbar {
    margin-bottom: 0; 
    background: rgba(247, 249, 248, .9);
	z-index: 1000;
	border: none; 
	li {
		a {
			color: $green !important;
			font-weight: 900;
			font-size: 1.5em;
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
			transition: all .5s;
			&:hover, &:active, &:focus {
				color: $darkgreen !important;
			}
		}
	}
}
a {
	color: $simplot-gray;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	&:hover, &:active, &:focus {
		color: $darkgreen;
		text-decoration: none; 
	}
}
header {
    background: url('../images/bkgd.jpg') repeat-x; 
    height: 800px;
    position: relative;
    @media (max-width: $screen-sm-max) { 
        height: 450px; 
        background: url('../images/mobile_bg.jpg') no-repeat; 
    }
}
.circle{
    border-radius: 50%; 
}

.circle-header {
    background: url('../images/tacos_circle.jpg') no-repeat;
    width: 1000px;
    height: 1000px; 
    position: absolute;
    top:-80px;
    left: 35%;
    padding: 100px;
    border: 10px solid #fff; 
    @media (max-width: $screen-sm-max) { 
       background:transparent; 
       border:none;
       width: auto;
       height: auto; 
       position: relative;
       left: 50%; 
    }
}
.circle-header-img {
    position: absolute;
    &.sl {
        top:0;   
		max-width: 200px;
		margin-top: 10px; 
    }
	&.gc {
		position: relative;
		float:left;
	}
    @media (max-width: $screen-sm-max) { 
        &.gc {
            height: 150px;
        }
    }
}
#plain-logo {
    max-width: 100px;
    margin-top: 5px;
	@media (max-width: $screen-sm-max) { 
		display: block !important;
	}
}
#food-logo {
	@media (max-width: $screen-sm-max) { 
		display: none !important;
	}
}
#good-choices-logo {
	position: absolute;
	top:200px;
	left: -240px;
	width: 301px;
    @media (max-width: $screen-sm-max) { 
        //left:100px;
    }
}
.circle-something-good {
    background: rgba(255,255,255, .75); 
    position: absolute; 
    top: 240px;
    left: -50px;
    width: 320px;
    height: 320px;
    border: 5px solid #fff; 
    @media (max-width: $screen-sm-max) { 
        width: 220px;
        height: 220px; 
        //left: 290px;
    }
}
.something-good-text {
    top: 100px;
    right: 30px;
    position: relative;
    text-align: right;
    h1 {
        font-size: 3em;
        margin-bottom: 0;
    }
    h3 {
        margin-top: 0; 
    }
    @media (max-width: $screen-sm-max) { 
        top: 40px;
        right: 20px;
        h1 {
            font-size: 2.5em;
        }
    }
}
.circle-trend {
	margin: 0 auto; 
	width: 450px;
	height: 450px;
	border: 5px solid #fff; 
}
#roasted {
	background: #fff url(../images/roasted.jpg) no-repeat bottom;
}
#avocado {
	background: #fff url(../images/avocado.jpg) no-repeat bottom;
}
#grains {
	background: #fff url(../images/grains.jpg) no-repeat bottom;
}
#fruit {
	background: #fff url(../images/fruit.jpg) no-repeat bottom;
}
#vegetables {
	background: #fff url(../images/vegetables.jpg) no-repeat bottom;
}

.big-section {
    //position: relative; 
    .trends {
		margin-top:0;
        width: 300px;
        height: 300px; 
        background: #fff; 
        //float: left; 
        margin-right: 50px; 
        border: double 10px $green; 
         h2 {
            font-size: 3em;
            color: $green; 
        }
		@media (max-width: $screen-sm-max) { 
			width: 200px;
        	height: 200px; 
		}
		@media (max-width: $screen-xs-max) { 
			margin: 0 auto; 
		}
    }
    p {
        color: white;
        font-size: 1.2em; 
        padding-left: 20px;
    }
}
#trends {
    height: 500px;
    padding: 100px 0; 
    p {
        margin-top: 100px;
    }
	@media (max-width: $screen-sm-max) { 
		height: auto; 
		p {
			margin-top: 20px;
		}
	}
}
#recipes {
    height: 200px;
    padding: 0;
    .trends {
        margin-top: -50px;
    }
    p {
        margin-top: 50px; 
    }
}
.trends {
    position: relative; 
    background: $green;
    width: 200px;
    height: 200px; 
	margin: 0 auto; 
	border: double 10px white;
	margin-top: -50px; 
    h2 {
        text-align: center;
        position: relative;  
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: white;
        margin:0; 
    }
	@media (max-width: $screen-sm-max) { 
		margin-top: 0; 
	}
}
section {
	padding: 100px 0 10px; 
	&.dark-gray {
		background: #e8e5e5;
	}
}
hr {
	max-width: 1170px;
	margin:0 auto; 
	border: 2px solid #fff; 
}
.bg-green {
    background: $green;
}

.brand-logo {
	margin: 40px auto 10px;
	
}
.stat-num {
	color: $green; 
	font-size: 12em;
	text-align: center;
	display: inline-block;
	line-height: 0px; 
	margin-top: 100px; 
	&:after {
		content: "%";
		font-size: .5em;
	}
    @media (max-width: $screen-md-max) { 
        &:after {
            content: "%";
            font-size: .25em;
        }
    }
}
#ff_stat_num {
	&:after {
		content: "";
		font-size: .5em;
	}
	&:before {
		content: "#";
	}
}
.info-graphic {
    margin:0 auto;
	//width: 250px; 
	text-align: center; 
	color: $green;
//	span.info-med:nth-of-type(2) {
//		margin-top: -42px;
//	}
//	span:last-child {
//		font-size:1.55em;
//		padding-bottom: 20px;
//		border-bottom: 3px solid lightgray; 
//		font-weight: 600;
//	}
	
}

.info-small {
	font-size: 1.25em;
	display: block;
	font-weight: 100;
	transform:scale(1,1.5); /* W3C */
	-webkit-transform:scale(1,1.5); /* Safari and Chrome */
	-moz-transform:scale(1,1.5); /* Firefox */
	-ms-transform:scale(1,1.5); /* IE 9 */
	-o-transform:scale(1,1.5); /* Opera */
}
.info-med {
	font-size: 1.75em;
	display: block;
	font-weight: 100;
	transform:scale(1,1.5); /* W3C */
	-webkit-transform:scale(1,1.5); /* Safari and Chrome */
	-moz-transform:scale(1,1.5); /* Firefox */
	-ms-transform:scale(1,1.5); /* IE 9 */
	-o-transform:scale(1,1.5); /* Opera */
}
.info-large {
	font-size: 2.1em;
	font-weight: 600; 
	//text-transform: uppercase;
	display: inline-block; 
	width:100%;
	transform:scale(1,1.5); /* W3C */
	-webkit-transform:scale(1,1.5); /* Safari and Chrome */
	-moz-transform:scale(1,1.5); /* Firefox */
	-ms-transform:scale(1,1.5); /* IE 9 */
	-o-transform:scale(1,1.5); /* Opera */
}
//sup .fa-asterisk:before {
//	transform:scale(1,.5); /* W3C */
//	-webkit-transform:scale(1,.5); /* Safari and Chrome */
//	-moz-transform:scale(1,2); /* Firefox */
//	-ms-transform:scale(1,2); /* IE 9 */
//	-o-transform:scale(1,2); /* Opera */
//}
.info-large-tall {
	font-size: 2.1em;
	font-weight: 600; 
	//text-transform: uppercase;
	display: inline-block; 
	width: 100%; 
	transform:scale(1,2); /* W3C */
	-webkit-transform:scale(1,2); /* Safari and Chrome */
	-moz-transform:scale(1,2); /* Firefox */
	-ms-transform:scale(1,2); /* IE 9 */
	-o-transform:scale(1,2); /* Opera */
}
.roast-works {
	.info-med:nth-of-type(3) {
		font-size: 1.75em;
        text-align: right;
		
	}
	.info-large:nth-of-type(2) {
		color: $lightgreen; 
		width: 100%; 
		font-size: 2.5em;
    	font-weight: 100;
        text-align: right;
		text-transform: uppercase;
		margin:10px 0 0; 
	}
	.info-large:nth-of-type(4) {
		margin-top: 20px;
		margin-left: 30px; 
		font-size: 2.75em;
		font-weight: 900; 
        text-align: left;
		width: auto;
		line-height: 30px;
		color: $lightgreen; 
	}
	sup {
		top: -25px;
		left: 10px; 
		color: $lightgreen; 
	}
    @media (max-width: $screen-md-max) { 
        .info-med:nth-of-type(3) {
            font-size: 1.5em;
            margin-top: 10px;
			 line-height: 20px;
        }
        .info-large:nth-of-type(4) {
           margin-top: 30px; 
        }
		sup {
			top: -30px;
			left: 40px; 
		}
    }
    @media (max-width: $screen-xs-max) { 
        .info-graphic-container {
            width: 285px;
        }
    }
	
}
.harvest-fresh {
	.stat-num {
		margin-top: 70px; 
	}
    .info-med:first-child {
		color: $lightgreen; 
        text-align: left;
		text-transform: uppercase; 
    }
    .info-med:nth-of-type(3) {
		margin-top: 10px;
		font-size: 2.5em;
        text-align: right;
	}
    .info-large:nth-of-type(4) {
		font-size: 4em;
        text-align: left;
		color: $lightgreen; 
	}
    .info-med:nth-of-type(5) {
		text-align: left;
        margin-left: 20px; 
		line-height: 30px;
		font-size: 2em;
		margin-top: 15px;
		display: inline-block; 
		width: 200px;
	}
	sup {
		left: -70px;
	}
    .info-large:nth-of-type(6) {
		//text-align: left;
	}
	@media (max-width: $screen-md-max) { 
		sup {
			left: 45px;
			top: -30px;
		}
	}
}
.whole-grains {
	.info-med:nth-of-type(2) {
		font-size: 1.75em;
		line-height: 20px;
		margin: 20px 0 10px;
		text-align: left;
		text-transform: uppercase;
	}
	.info-med:nth-of-type(3) {
		text-align: left;
		margin-left: 20px; 
	}
	.info-large:nth-of-type(4) {
		font-size: 2.8em;
    	line-height: 45px;
		margin: 10px 0 15px;
		color: $lightgreen; 
	}
	.info-med:nth-of-type(5), .info-med:nth-of-type(6) {
		text-align: left;
    	margin-left: 20px;
		display: inline-block; 
	}
	.info-med:nth-of-type(5) {
		width: 100%;
		text-align: center;
	}
	sup {
		top: -10px;
		left: 5px;
	}
	@media (max-width: $screen-md-max) { 
		.info-med:nth-of-type(2) {
			font-size: 1.5em;
		}
		.info-large:nth-of-type(4) {
			line-height: 30px;
			margin: 20px 0 25px; 
		}
	}
}
.fruit {
	.info-med:nth-of-type(2) {
		font-size: 3.5em;
		margin-top: 10px; 
	}
	.info-med:nth-of-type(3) { 
		text-align: left;
	}
	.info-med:nth-of-type(4) {
		font-size: 1.75em;
		text-transform: uppercase; 
		text-align: left; 
		line-height: 25px;
		margin: 15px 0; 
		font-weight: 600;
	}
	.info-large {
		font-size: 4.5em;
		width: auto;
		color: $lightgreen; 
		line-height: 50px;
		margin-bottom: 20px; 
	}
	sup {
		top: -35px;
		left: 90px; 
	}
	@media (max-width: $screen-md-max) { 
        .info-large {
            font-size: 3.5em; 
        }
		.info-med:nth-of-type(2) {
			font-size: 3em;
			line-height: 30px;
			margin: 20px 0; 
		}
	}
}
@media (max-width: $screen-sm-max) { 
	.info-graphic-container {
		width: 290px;
	}
}
.link {
	display: block;
	font-size: 1.4em;
	line-height: 1.3em;
	color: $simplot-gray;
	margin-top: 30px;
	margin-left: -15px;
}
.link.recipes {
	background: url(../images/fork_knife.png) no-repeat center left; 
	padding-left: 40px; 
}
.link.coupon {
	background: url(../images/coupon.png) no-repeat center left; 
	padding-left: 65px; 
}
.more {
	float:right; 
	margin-right: -15px; 
}
.last-group {
	margin-top: 100px; 
}
.cite {
    margin-top: 100px;
}
/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-section {

}
.cd-section p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
}
.cd-modal::after {
  /* gradient overlay at bottom of modal window */
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  pointer-events: none;
  background: transparent;
}
.cd-modal .cd-modal-content {
  height: 100%;
  width: 100%;
  padding: 3em 5%;
  text-align: left;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-modal p {
  color: #ffffff;
  line-height: 1.6;
  margin: 2em 0;
}
.modal-is-visible .cd-modal {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
  -moz-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
  transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
}
.modal-is-visible .cd-modal .cd-modal-content {
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 768px) {
  .cd-modal .cd-modal-content {
    padding: 4em 10%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-modal .cd-modal-content {
    padding: 6em 20%;
  }
  .cd-modal p {
    font-size: 2rem;
    line-height: 2;
  }
}
.modal-action-container {
  position:relative; 
  bottom: -200px;
  right: -150px;
  text-align: center;
}
.last-group {
    .modal-action-container {
        bottom: -350px;
    }
}
.cd-modal-action {
  position: relative;
  color: #fff;
  a {
	text-align: center;
	margin:0; 
	font-size: 2em;
	line-height: 55px;
	color: white; 
	padding-top: 7px;
	padding-left: 20px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	&:hover {
		//color: $green; 
		
	}
	i {
		display: inline-block;
		margin-left: 10px;
	}
  }
}
.cd-modal-action .btn, .cd-modal-action .cd-modal-bg {
  display: inline-block;
  height: 2.75em;
  background: $lightgreen; 
}
.cd-modal-action .btn {
  width: 6em;
  border-radius: 5em;
  color: #fff;
  line-height: 60px;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
  -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
  transition: color 0.2s 0.3s, width 0.3s 0s;
}
.cd-modal-action .btn.to-circle {
  width: 70px;
  color: transparent;
  -webkit-transition: color 0.2s 0s, width 0.3s 0.2s;
  -moz-transition: color 0.2s 0s, width 0.3s 0.2s;
  transition: color 0.2s 0s, width 0.3s 0.2s;
}
.cd-modal-action .btn:hover, .cd-modal-action .btn:active, .cd-modal-action .btn:focus {
	//background: #fff; 
}
.cd-modal-action .cd-modal-bg {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  width: 4em;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-2em);
  -moz-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  -o-transform: translateX(-2em);
  transform: translateX(-2em);
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}
.cd-modal-action .cd-modal-bg.is-visible {
  opacity: 1;
  visibility: visible;
}

.cd-modal-close {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.3) url(../images/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-is-visible .cd-modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media only screen and (min-width: 768px) {
  .cd-modal-close {
    top: 70px;
  }
}


